* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: url('../public/subtle-white-feathers.png');
  background-color: #0080ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 70px;
  width: 80px;
}

a {
  text-decoration: none;
  color: azure;
}

span {
  font-weight: bold;
}

h1, h2, h3 {
  text-align: center;
  font-weight: bold;
  color: white;
  margin: 15px;
}

.forming {
  display: flex;
  align-items: center;
  background-color: #0080ff;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 10px 0;
}

.search {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-left: -40px; /* Move o botão da lupa para dentro do input */
  z-index: 1;
}
.search img{
  height: 25px;
  width: 25px;
}

.put {
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 50px;
  padding-left: 50px; /* Espaço para a lupa dentro do input */
  background-color: transparent;
  color: white;
}

@media (max-width: 768px) {
  .forming {
    width: 90%;
  }

  .put {
    padding-left: 40px; /* Reduz o espaço para telas menores */
  }
}

@media (max-width: 480px) {
  .forming {
    width: 100%;
    padding: 15px;
  }

  .put {
    padding-left: 35px; /* Ajuste para telas menores */
  }
}
.spanGood{
  color: rgb(23, 226, 23);
}
.spanBad{
  color: rgb(231, 28, 13);
}